<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^$" ignoreCase="false" />
                    <action type="Redirect" url="http://www.jublo.net/" redirectType="Found" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="." ignoreCase="false" />
                    <action type="Rewrite" url="codebird-cors-proxy.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
